.course-container {
    border: 1px solid lightgray;
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
}

.course-container img {
    height: 200px;
    width: 300px;
    margin-right: 5px;
}