.courses-container {
    border: 2px solid rgb(226, 203, 203);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.courses-container a {
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    color: wheat;
    background-color: rgb(134, 91, 84);
    width: 120px;
    border-radius: 20px;
}