.header-container {
    display: flex;
    color: white;
    background-color: rgb(69, 94, 32);
    justify-content: space-between;
    padding: 10px;
}

.header-container a {
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.nav {
    margin-top: 8px;
}


.header-section {
    text-align: center;
    text-decoration: none;
    margin-right: 10px;
    line-height: 50px;
}

.header-section a {
    text-decoration: none;
    margin: 20px;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 15px;
}