.home-content-one {
    text-align: center;
    padding: 85px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg);
    background-size: cover;
}

.home-content-one h1 {
    color: #fff;
    margin-bottom: 20px;
}

.home-content-one h1 .text-color {
    color: rgb(24, 206, 24);
}

.home-content-one p {
    color: white;
    margin-bottom: 30px;
}

.home-content-one a {
    text-decoration: none;
    color: white;
    border: 1px solid rgb(33, 56, 48);
    padding: 10px;
    background-color: rgb(77, 21, 77);
    border-radius: 10px;
    height: 5px;
    margin-top: 10px;
}